


<footer class="top-section footer">
    <div class="footer-social-line">
      <a href="https://github.com/Cieslik85" target="_blank"><img id="icon-git" src="/images/github-mark-white.svg" alt="github icon"></a>
      <a href="https://www.linkedin.com/in/piotr-cieslikiewicz-32152919a" target="_blank"><img src="/images/linkedin.svg" alt="linekedIn Icon"></a> 
      <a href="mailto:cieslik85@gmail.com"><img id="icon-mail" src="/images/gmail-icon.svg" alt="gmail icon"></a> 
    </div>
    <p id="copyright">© Piotr Cieslikiewicz - All rights reserved</p>
  </footer>

</body>
</html>