<%- include("partials/header.ejs") %>

<h1>Creative writing</h1>





<form action="/submit" method="POST">
  <label for="Blog body">Write your blog</label>
  <input type="text" name="Blog body" placeholder="Embrace your thoughts here">
  <input type="submit" value="Submit">
</form>



<%- include("partials/footer.ejs") %>